.introOverlay .top {
  height: 100vh;
  /* height: calc(var(--vh, 1vh) * 50); */
  position: absolute;
  width: 100%;
  z-index: 8;
  left: 0;
}
.overlaytop {
  position: absolute;
  height: 100%;
  width: 33.333vw;
  background: white;
  bottom: 0;
  left: 0;
  right: 0;
  /* @include media("<=tablet") {
        width: 100vw;
      }
      &:nth-child(2) {
        left: 33.333%;
        @include media("<=tablet") {
          display: none;
        }
      }
      &:nth-child(3) {
        left: 66.666%;
        @include media("<=tablet") {
          display: none;
        }
      } */
}
.overlaytop:nth-child(2) {
  left: 33.333%;
}
.overlaytop:nth-child(3) {
  left: 66.333%;
}
@media (max-width: 768px) {
  .overlaytop {
    width: 100vw;
  }
  .overlaytop:nth-child(2) {
    display: none;
  }
  .overlaytop:nth-child(3) {
    display: none;
  }
}
