.container {
  padding: 0 2rem;
}
.app::-webkit-scrollbar {
  width: 0.3em;
  display: none;
}
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.pricingpage {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--main-bg-color);
  height: 100vh;
  width: 100%;
  z-index: 15;
  overflow: scroll;
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}
